<div class="sidebar-panel">
    <div id="scroll-area" [perfectScrollbar] class="navigation-hold" fxLayout="column">
        <div class="sidebar-hold">
            
            <!-- App Logo -->
            <div class="branding">
                <img src="assets/images/illusion.png" alt="" class="app-logo" style="width: 100%;height: 100%;">
                
                <span style="margin: auto" *ngIf="layoutConf.sidebarStyle !== 'compact'"></span>
                <div 
                class="sidebar-compact-switch"
                [ngClass]="{active: layoutConf.sidebarCompactToggle}"
                (click)="toggleCollapse()" 
                *ngIf="layoutConf.sidebarStyle !== 'compact'"><span></span></div>
            </div>
        
            <!-- Sidebar user -->
            <div class="app-user">
                <div class="app-user-photo">
                <div *ngIf="this.dynamincnavfetch.length>0">
                    <img src="assets/images/faces/{{this.dynamincnavfetch}}" class="mat-elevation-z1" alt="">
                 </div>
                <div *ngIf="this.dynamincnavfetch.length==0">
                <img src="assets/images/faces/nouserimage.jpg" class="mat-elevation-z1" alt="">
                 </div>

                </div>
                <br>
                <span class="app-user-name mb-05">
                {{this.username}}   
                </span>
                <!-- Small buttons -->
                <div class="app-user-controls">
                <button 
                class="text-muted"
                mat-icon-button 
                mat-xs-button
                [matMenuTriggerFor]="appUserMenu">
                    <mat-icon>settings</mat-icon>
                </button>
<!--                 <button 
                class="text-muted"
                mat-icon-button 
                mat-xs-button
                matTooltip="Inbox"
                routerLink="/inbox">
                  <mat-icon>email</mat-icon>
                </button> -->
                <button 
                class="text-muted"
                mat-icon-button 
                mat-xs-button
                routerLink="/session/signin3"
                matTooltip="Sign Out"
               (click)=signedout()>
                    <mat-icon>exit_to_app</mat-icon>
                </button>
                <mat-menu #appUserMenu="matMenu">
<!--                     <button mat-menu-item routerLink="/profile/overview">
                        <mat-icon>account_box</mat-icon>
                        <span>Profile</span>
                    </button> -->
                    <button mat-menu-item routerLink="/profile/settings">
                        <mat-icon>settings</mat-icon>
                        <span>Account Settings</span>
                    </button>
                    <button mat-menu-item routerLink="/calendar">
                        <mat-icon>date_range</mat-icon>
                        <span>Calendar</span>
                    </button>
                    <button mat-menu-item  routerLink="/session/signin3"  (click)=signedout()>
                        <mat-icon>exit_to_app</mat-icon>
                        <span>Sign out</span>
                    </button>
                    </mat-menu>
                </div>
            </div>
            <!-- Navigation -->
            <app-sidenav [items]="menuItems" [hasIconMenu]="hasIconTypeMenuItem" 
        
            ></app-sidenav>
        </div>
    </div>
</div>
<!-- //[iconMenuTitle]="iconTypeMenuTitle" -->