.custom{
    width: 80%;
}

label{
    font-weight: bold;
}

.ag-header-cell-label .ag-header-cell-text{
    /*Force the width corresponding at how much width
    we need once the text is layed out vertically*/
    width: 30px;
    transform: rotate(90deg);
    margin-top: 50px;
    /*Since we are rotating a span*/
    display: inline-block;
    background-color:red;
}