// Remove imports which are not needed for your project
@import "sessions/sessions";
@import "inbox";
@import "calendar";
@import "chats";
@import "gallery";
@import "pricings";
@import "users";
@import "profile";
@import "shop";
@import "home";
@import "invoice";
@import "todo/todo-details";
@import "todo/todo-list";
@import "todo/todo";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "~@ag-grid-community/all-modules/dist/styles/ag-theme-dark.css";
@import "~@ag-grid-community/all-modules/dist/styles/ag-grid.css";

.ag-theme-dark .sick-days-breach {
    background-color:rgb(37, 141, 189) !important;
}

.ag-row-hover {
  /* putting in !important so it overrides the theme's styling as it hovers the row also */
  background-color: #8989e6 !important;
}


.ag-theme-dark .sick-days-breach {
    background-color:rgb(37, 141, 189) !important;
}

.alertsContainer .alertsRow.success   {
  background: #fff;
  color: #000;

  padding:10px;
}


/* 
  Only Required if you want to use Angular Landing
  (https://themeforest.net/item/angular-landing-material-design-angular-app-landing-page/21198258)
*/
// @import "landing";